.Name input {
  width: 70%;
}

.Name select {
  width: 70%;
  height: 30px;
  margin: 0 0 0 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 10px #4C5B5C;
  font: 16px 'Roboto', sans-serif;
}