.RecipeCard {
  position: relative;
  width: 48%;
  height: 320px;
  margin: 0 0 40px;
  border-radius: 5px;
  padding: 20px;
  background: #A6D39E;
  box-shadow: 3px 3px 10px #4C5B5C;
}

.title_container {
  display: flex;
  align-items: center;
}

h3 {
  margin: 10px 0 0;
  font-size: 20px;
}

p {
  font-size: 16px;
}

.scroll_container {
  height: 30%;
  overflow: hidden;
}

.delete {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
}

.delete:hover {
  cursor: pointer;
}