.Home {
  width: 75%;
  margin: 75px;
}

button {
  width: 100%;
  background: #FF9B42;
}

.card_container {
  margin: 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}